$media-small-screen: 640px;
$media-medium-screen: 980px;
$media-medium-landscape-screen: 1024px;

$black: #333;
$white: #fff;
$purple: #423064;
$purple-mid : #662d91;
$purple-light: #664aa1;
$green: #0fc6c7;
$green-light: #0ec2c3;
$green-font: #08a6a6;
$green-pastel: #bdd7d3;
$green-border: #569999;
$sky-blue: #e5fafa;
$orange: #e79824;
$orange-arrow: #f1c62f;
$red: #f94747;
$gray: #e1e1e1;
$gray-dark: #a2a2a2;